.button.filter {
  color: $secondaryTextColor;
  background-color: $backgroundColor;
  @include font(500, 16px, 1.62);

  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;

  transition: $transition;

  &:focus,
  &:hover {
    background-color: $textHoverColor;
    color: $whiteColorText;

    transition: $transition;
  }
}

.filter {
  display: flex;
  justify-content: center;
}

.filter .element {
  margin-right: 8px;
}

.filter .element:nth-last-child(-n + 1) {
  margin-right: 0px;
}
